# Ignore data folder contents, but not demo
/src/data/*
!/src/data/demo/
!/src/data/demo/**
 
# Ignore environment variables and virtual environment
.venv/
.env

# Ignore mac ds store files
.DS_Store
